@import './base.css';
@import './input.css';
@import './button.css';
@import './listSelect.css';
@import './texts.css';
@import './a.css';
@import './summary.css';
@import './select.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}


